.links li a {
    color: #5d5d5d; /* Set the text color to white */
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: white;
}


body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}


/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #3096C2;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info h4 {
  color: #5d5d5d;
  font-size: 15px;
}
.landing-page .content .info p {
  margin: 2px;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #3096C2;
}
.landing-page .content .image img {
  max-width: 50%;
  margin-left: 30%;
  margin-right: auto;
  vertical-align: middle;
}
/* End Landing Page */



/*footer */


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');



/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}


.footer-distributed{
  height: 250px;
	background-color: #3096C2;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 25%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 40%;
  margin-top: -25px;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  padding: 30px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #0B5978;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  black;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #0B5978;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*End of the footer*/


  /* Link Box */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.link-boxes {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.link-boxes a {
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  max-width: 23%;
  margin: 1%;
  min-width: 250px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-border-radius: 5px;

  border-radius: 5px;
  -webkit-transition: 0.2s transform ease-out;
  -o-transition: 0.2s transform ease-out;
  transition: 0.2s transform ease-out;
  position: relative;
}

.link-boxes a:hover {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
}

.link-boxes a:after {
  height: 10px;
  width: 100%;
  content: "";
  margin-top: 15px;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.63) 2%,
    rgba(0, 0, 0, 0.2) 47%,
    rgba(0, 0, 0, 0) 68%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.63) 2%,
    rgba(0, 0, 0, 0.2) 47%,
    rgba(0, 0, 0, 0) 68%
  );
  background: -o-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.63) 2%,
    rgba(0, 0, 0, 0.2) 47%,
    rgba(0, 0, 0, 0) 68%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.63) 2%,
    rgba(0, 0, 0, 0.2) 47%,
    rgba(0, 0, 0, 0) 68%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#a6000000",
      endColorstr="#00000000",
      GradientType=1
    );
}

.link-boxes a:hover:after {
  bottom: -40px;
  opacity: 0.2;
}

.link-img-background {
  width: 100%;
  position: relative;
  height: 170px;
  overflow: hidden;
}

.link-img-background img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.12s transform ease-out;
  -o-transition: 0.12s transform ease-out;
  transition: 0.12s transform ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.link-img-background:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-transition: 0.2s opacity ease-out;
  -o-transition: 0.2s opacity ease-out;
  transition: 0.2s opacity ease-out;
}

.link:hover .link-img-background:after {
  opacity: 0;
}

.link-boxes .link-text {
  font-size: 1.4em;
  font-family: inherit;
  padding: 10px;
  background: #222;
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #0B5978 ;
}

